<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>

    <div class="container-md">

        <!-- 
        la seguente riga contiene un contenuto dinamico il quale deve essere inserito tra i seguenti "simboli"



        questa sintassi la usiamo perchè all'interno della nostra app, facciamo uso del motore di templating EJS

        all'interno di tali "simboli", possiamo scrivere puro codice Javascript

        -->
        <%- include('./pattern/header.ejs') %>

        <main>
            <h1>Home page</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda soluta neque necessitatibus ipsa pariatur harum natus repellendus asperiores, fugiat sit repudiandae eligendi non totam quo maiores autem rem dolor nemo tempore iure aut quos expedita? Sapiente fugiat labore eius mollitia vel repellat, laboriosam voluptatem consequatur quas necessitatibus magnam quaerat harum libero autem eum modi nihil quo exercitationem, corporis molestias. In corporis, sunt sint fugiat quos veniam blanditiis voluptate odit alias. Repellendus temporibus similique laudantium magnam libero pariatur quisquam molestias, facilis, vel porro cupiditate rerum aspernatur voluptates repudiandae aut, iste aliquid.
            </p>
        </main>



    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>